/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #4e65e2;
  --ion-color-primary-rgb: 78, 101, 226;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4559c7;
  --ion-color-primary-tint: #6074e5;

  /** secondary **/
  --ion-color-secondary: #e6e8f3;
  --ion-color-secondary-rgb: 230, 232, 243;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #caccd6;
  --ion-color-secondary-tint: #e9eaf4;

  /** tertiary **/
  --ion-color-tertiary: #d8deff;
  --ion-color-tertiary-rgb: 216, 222, 255;
  --ion-color-tertiary-contrast: #5c638c;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #8d99dd;
  --ion-color-tertiary-tint: #f4f7fa;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: hsl(222, 57%, 95%);

  --ion-font-family: "Poppins", sans-serif;
  font-family: var(--ion-font-family) !important;
}

ion-button {
  font-weight: bold;
  --padding-start: 2em;
  --padding-end: 2em;
}

ion-input {
  border: 1px solid var(--ion-color-primary-shade);
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --background: var(--ion-color-secondary) !important;
  --color: var(--ion-color-primary-shade) !important;
}

ion-toolbar {
  --background: var(--ion-color-primary);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.form-control {
  margin: 10px 0;
}

.heading > div {
  text-align: center;
  /* color: var(--ion-color-primary-tint); */
}
